/* style.css */

/* Estilo para o botão */
.btn-primary {
    margin-bottom: 20px;
}

/* Estilo para os cartões */
.weather-cards {
    display: flex;
    flex-wrap: wrap;
}

.weather-card {
    width: calc(33.33% - 20px);
    margin: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.weather-card-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.weather-card-body {
    padding: 10px;
}

.weather-card-text {
    margin: 0;
}
